@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  .prose p {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .prose p:first-child {
    margin-top: 0 !important;
  }
  .prose p:last-child {
    margin-bottom: 0 !important;
  }
  .prose ul, .prose ol {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
}

/* Hide default browser scrollbar while preserving element scroll interaction */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
